# ======================
# Environment variables
# ======================
.env
.env.*
!.env.example

# ======================
# Python virtual env
# ======================
.venv/
venv/
ENV/

# ======================
# Python cache
# ======================
__pycache__/
*.py[cod]
*.pyo

# ======================
# FastAPI / Uvicorn
# ======================
*.log

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Editor
# ======================
.vscode/
.idea/
